<!-- Primary Author: Bethany -->

<% alert_string = alert %>

<%= form_tag sessions_path do %>
<center>
  <img src="<%= asset_path 'green-fiend-clipart.png' %>" width=150px/><br>
  <div>
    <h2>Log in</h2>
    <p>
      <%= text_field_tag :username, params[:username], :class => 'form-control', :placeholder => "Username" %>
    </p>

    <p>
      <%= password_field_tag :password, params[:password], :class => 'form-control', :placeholder => "Password" %>
    </p>

    <p>
      <%= submit_tag "Log in", :class => 'btn btn-lg btn-primary btn-block'%>
    </p>

    <p><%= link_to "Not a member?", sign_up_path %> </p>
 
    <!-- This prints out any error messages in red font color if user types in an invalid username or password -->
    <p class = "error_message"><%= alert_string %></p>

  </div>
</center>
<% end %>
