<!DOCTYPE html>
<html>
<head>
  <title>BzinbergJiangtydYczLapentabFinal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="header">
        <% if signed_in? %>
            Welcome to Anagrams with Fiends! You are logged in.
            <%= link_to 'Log Out', log_out_path %>
        <% else %>
            Welcome to Anagrams with Fiends!
            Log in here: 
            <%= link_to 'Log In', log_in_path %>
            <%= link_to 'Register', sign_up_path %>
        <% end %>
    </div>

<%= yield %>

<%=
  debug(params) if Rails.env.development?
%>

</body>
</html>
