<!DOCTYPE html>
<html>
<head>
  <title>BzinbergJiangtydYczLapentabFinal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <center>
    <% if signed_in? %>
        </center><div align="right"><font size="2px" align="right"> <%= link_to 'Log Out', log_out_path %></font></div><br><center>
    <% end %>
    <div id="header">
        <img src = "assets/green-fiend-clipart.png" width = 150px> 
        <img src="assets/purple-fiend-clipart.png" width=150px/><br>
        <% if signed_in? %>
            Welcome to Anagrams with Fiends! <br>You are logged in.<br>
        <% else %>
            Welcome to Anagrams with Fiends!<br>
            <%= link_to 'Log In', log_in_path %> <br>
            <%= link_to 'Register', sign_up_path %><br>
        <% end %>
    </div>

<%= yield %>

<%=
  debug(params) if Rails.env.development?
%>
</center>
</body>
</html>
